<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendation System</title>
    <link rel="shortcut icon" type="image/png" href="../img/favicon.png">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/be49929cc7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="outer__main">
        <div class="nav">
            <div class="inner__nav">
                <a class="aref" style="text-decoration: none;" href="/">Home</a>
                <a class="aref" style="text-decoration: none;" href="/popularbooks">Popular Books</a>
                <a class="aref" style="text-decoration: none;" href="/recommender">Recommender</a>
            </div>
        </div>


        <div class="header">
            <h1 class="homepagetext">Book Recommender</h1>
        </div>
        <div class="contact">
            <!-- <div>
                <a href="https://www.github.com">GitHub</a>
            </div>
            <div>
                <a href="https://www.linkedin.com">LinkedIn</a>
            </div>
            <div>
                <a href="https://www.instagram.com">Instagram</a>
            </div> -->
            <a class="links" href="https://www.instagram.com/realyashpaddalwar">Instagram</a>
            <a class="links" href="https://www.linkedin.com/in/yash-paddalwar-31816a171/">LinkedIn</a>
            <a class="links" href="https://www.github.com/yashpaddalwar">GitHub</a>
        </div>
    </div>
    
</body>
</html>