<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommendation System</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/be49929cc7.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="outer__main">
        <div class="nav">
            <div class="inner__nav">
                <a class="aref" style="text-decoration: none;" href="/">Home</a>
                <a class="aref" style="text-decoration: none;" href="/popularbooks">Popular Books</a>
                <a class="aref" style="text-decoration: none;" href="/recommender">Recommender</a>
            </div>
        </div>
        <div class="header">
            <h1 class="invalidtext">Invalid Input (Check Cases/Spellings)</h1>
        </div>
    </div>
    
</body>
</html>